.footer {
    padding: 1.875rem 0 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.671);
    padding-bottom: 50px;
    @include media(770px) {

    }
}
.item_one {
    display: flex;
    align-items: center;
    column-gap: 7px;
    margin-bottom: 20px;
}
.title_product {
    font-family: $font-famaly-poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 2.3125rem;
    line-height: 3.5rem;
    color: #fff;
    cursor: pointer;
}
.item__ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: $font-famaly-poppins;
}
.mode {
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #fff;
    margin-bottom: 30px;
}
.item__li {
    margin-right: auto;
    margin-bottom: 10px;
    cursor: pointer;
}
.item_4__title {
    max-width: 280px;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #fff;
}
.item_4-btn {
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: #FFFFFF;
    background: #326CF9;
    border-radius: 0.25rem;
    padding: 0.5rem 0.9375rem;
    border: none;
}
.icons {
    display: flex;
    column-gap: 20px;

    @include media(576px) {
        margin-bottom: 10px;
    }
}
.iii {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.iii:hover {
    transition: .5s;
    transform: scale(130%);
}
